<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Summarization</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/25720743?s=200&v=4" type="image/png">
    <script src="https://kit.fontawesome.com/778c911bcf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
</head>
<body>

    <header style="background-color: #004A56;"
        class="fixed inset-0 w-full flex flex-col justify-center justify-items-center content-center h-20 rounded-b-lg">
        <div class="self-center text-white">Data Summarization</div>
    </header>

    <section class="flex flex-wrap mt-20 w-full">
        <center><div>
            <center><h2>How to use this application?</h2></center>
            <p>
                This application is designed to help you summarize data from a text you are inputting in the text box.
                You can use it to summarize data by just clicking the button.
                You will get a summary of the data you input in meaningful way since we have used huggingface api's for training the text the users are inputting .

            </p>
        </div></center>

</section>
    <section class="flex flex-wrap mt-20 w-full">
        
        <div class="w-full md:w-1/2">
            <form class="w-full flex flex-col md:h-screen" action="{{url_for('Summarize')}}" method="post">
                <textarea type="text" class="w-11/12 md:h-3/4 m-2 p-2 border-black rounded-lg border self-center justify-center"
                    name="data" id="data" cols="30" rows="10" placeholder="Enter your Text Data here"
                    required="required" >The tower is 324 meters (1,063 ft) tall, about the same height as an 81-storey building, and the tallest structure in Paris. Its base is square, measuring 125 meters (410 ft) on each side. During its construction, the Eiffel Tower surpassed the Washington Monument to become the tallest man-made structure in the world, a title it held for 41 years until the Chrysler Building in New York City was finished in 1930. It was the first structure to reach a height of 300 meters. Due to the addition of a broadcasting aerial at the top of the tower in 1957, it is now taller than the Chrysler Building by 5.2 meters (17 ft). Excluding transmitters, the Eiffel Tower is the second tallest free-standing structure in France after the Millau Viaduct.</textarea>
                    
                <div class="flex self-center">
                    <h3>Summary Length</h3>
                    <input type="range" class="m-2" min="20" max="1000" name="maxL">
                </div>
                <div class="flex self-center">
                    <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="submit" onclick="Check()">Submit</button>
                    <button class="m-1 bg-red-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="reset">Clear</button>
                </div>
            </form>
        </div>
        <div class="w-full md:w-1/2">
            <div class="mt-2 flex flex-col w-full md:h-screen">
                <textarea style="background-color: #EDFFD2;"
                    class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
                    cols="30" name="result" readonly placeholder="Your Summary">{{result}}</textarea>
                <button
                    class="m-2 bg-blue-400 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg self-center"
                    onclick="myFunction()">Copy text</button>
            </div>
        </div>
    </section>
    <footer class="text-center text-white " style="background-color: #d4d2d2;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <h5 style="color:black">Contact Me</h5>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/rohanpatankar926/" role="button"
                    data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-linkedin" ></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/rohanpatankar926" role="button"
                    data-mdb-ripple-color="dark" target="_blank"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-light p-3" style="background-color: rgba(3, 36, 67, 0.504);">
            © 2022 Made with 💖 by <a class="text-light" href="https://rohanpatankar.netlify.app/" target="_blank">Rohan Patankar</a>:
        </div>
        <!-- Copyright -->
    </footer>

    <script>
        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
    <script>
        function Check() {

            var reg = /<(.|\n)*>/g;

            if (reg.test(document.getElementById("data").value) == true) {
                var ErrorText = 'Make Sure You Provide Valid Data.';
                alert('Error Text');

            }
        }
    </script>
</body>

</html>